    #wrapper {
      	width: 728px;
      	margin: auto;
      }
    body {
      	background-color: black;
      }
    #header {
		}
	#menu {
			width: 150px;
			float: left;
			font-size: 12px;
			font-family: "Lucida Grande", Verdana, Arial, sans-serif;
			color: #999999;
			text-decoration: none;
		}
	#content {
			padding-bottom: 20px;
			width: 578px;
			float: left;
			text-align: center;
			color: #999999;
		}
	#footer {
			clear: both;
			text-align: right;
			font-family: "Lucida Grande", Verdana, Arial, sans-serif;
			font-size: 11px;
			color: #999999;
		}
	a {
			font-size: 12px;
			color: #999999;
			font-family: "Lucida Grande", Verdana, Arial, sans-serif;
			text-decoration: none;
		}
	.number {
			text-align: left;
			font-weight: bold;
			color: #999999;
			font-size: 18px;
		}
	h3 {
			color: #999999;
			text-align: center;
		}
	.duration {
			font-weight: bold;
			font-family: "Lucida Grande", Verdana, Arial, sans-serif;
			font-size: 14px;
			color: #cccccc;
		}
	.label {
			font-weight: bold;
			color: #999999;
			font-size: 12px;
		}
	.stops {
			background-color: #333333;
			width: 100%;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			color: #cccccc;
		}
	.liin {
			font-family: "Lucida Grande", Verdana, Arial, sans-serif;
			width: 100%;
			text-align: center;
			background-color: #333333;
		}
	.error {
			font-size: 14px;
			font-weight: bold;
			color: #cccccc;
		}
	.name {
			text-align: center;
			font-weight: bold;
			color: #999999;
			font-size: 18px;
		}
	.cell {
			text-align: right;
			width: 20%;
		}
	.form {
			width: 100%;
		}
	.menu {
			width: 100%;
		}
	